In [31]:
import pandas as pd
import textwrap
import time
from urllib.parse import quote
from termcolor import colored
from sqlalchemy import *
from sqlalchemy.engine import create_engine
from sqlalchemy.schema import *
from sqlalchemy import (BigInteger, Column, Date, DateTime, Integer, String,
                        UniqueConstraint, create_engine)
db_connection_str = (
    "mysql+pymysql://minh.le.nhat:%s@34.143.219.240:3306/vn_product?charset=utf8mb4"
    % quote("lenhatminh!@#")
)

engine = create_engine(db_connection_str, echo=True)

In [1]:
sql = textwrap.dedent("""\
  
select count(distinct sec_uid) from video.video_mart_dwd_video_crawler_seller_tab_df_vn
where grass_date = current_date  - interval '1' day
       """)

print(colored("Start time: " + time.asctime( time.localtime(time.time()) ),'blue'))
sql_output = []
with engine.connect() as con:
    rs = con.execute(sql)
    for row in rs:
        sql_output.append(dict(row))
sql_output = pd.DataFrame(sql_output)
pd.set_option('display.max_columns',None)
print(colored("End time: " + time.asctime( time.localtime(time.time()) ),'green'))

NameError: name 'textwrap' is not defined

In [41]:
sql_output.drop_duplicates(inplace=True)

In [42]:
sql_output.to_csv('/Users/nhat.minh/Downloads/ads.csv',index=False,encoding="utf_8_sig")

In [3]:
import pandas as pd
import textwrap
import time
from urllib.parse import quote
from sqlalchemy import *
from sqlalchemy.engine import create_engine
from sqlalchemy.schema import *
from sqlalchemy import (BigInteger, Column, Date, DateTime, Integer, String,
                        UniqueConstraint, create_engine)
db_connection_str = (
    "mysql+pymysql://mindx_sql:%s@103.173.254.194:3306/mindx_sql?charset=utf8mb4"
    % quote("mindx_sql"))
engine = create_engine(db_connection_str, echo=False)

sql = textwrap.dedent("""\
select region, sum(total_revenue) from 5000_sale_orders
group by 1
       """)

sql_output = []
with engine.connect() as con:
    rs = con.execute(sql)
    for row in rs:
        sql_output.append(dict(row))
sql_output = pd.DataFrame(sql_output)
sql_output

                              region  sum(total_revenue)
0  Central America and the Caribbean        6.849763e+08
1                             Europe        1.703622e+09
2                               Asia        9.202771e+08
3       Middle East and North Africa        7.668678e+08
4              Australia and Oceania        5.873641e+08
5                 Sub-Saharan Africa        1.814567e+09
6                      North America        1.510143e+08

In [1]:
### USING MYSQL CONNECTOR UPDATE ON KEY
import mysql.connector

cnx = mysql.connector.connect(user='nhatminh', password='minhabc123',
                              host='103.173.254.194',
                              database='mindx_sql')

cursor = cnx.cursor()

cursor.execute("INSERT INTO class (class_id, head_teacher_id) VALUES (%s,%s) ON DUPLICATE KEY UPDATE head_teacher_id=%s", ('123','b','c'))
cnx.commit()

In [12]:
# cursor.execute("INSERT INTO class (class_id, head_teacher_id) VALUES (%s,%s) ON DUPLICATE KEY UPDATE head_teacher_id=%s", ('123','b','c'))
cursor.execute("INSERT INTO class (class_id, head_teacher_id) VALUES (1,2) ON DUPLICATE KEY UPDATE head_teacher_id='a1%!12a'")
cnx.commit()